*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}


.FAQ__visible{
    display: none;
}

.show{
    display: block;
}