*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 600px) {
  * {
    font-size: 50%;
  }
}

.bg__hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.65) 100%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../public/hero-bg.jpg");

  background-size: cover;
  background-repeat: no-repeat;
}

.FAQ__visible {
  display: none;
}

.show {
  display: block;
}
